@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F5EEDC;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F5EEDC;
}

::-webkit-scrollbar-thumb {
  background: #8E9B6D;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #406008;
}